{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="span6" style='height: 580px'>
        <div style='height: 400px; margin-top: 0px; margin-bottom: -20px;' >
            <img src = '/static/img/ann_1.png' class = 'photo' /> 
            <h1 style='height: 25px; margin-top: -55px; text-align: right;'>Кто Я?</h1>
        </div>
        <div class="well" style="background-color: #ade0ba; border: 1px solid #a0c0b0; height: 250px">
<!--              -->
            {{ home_who|safe }}
        </div>
  
    </div>
    
    <div class="span6" style='' >
         <h1 style='height: 25px; text-align: right;'>Куда Я иду?</h1>
         <div class="well" style='background-color: #ade0ba; border: 1px solid #a0c0b0; height: 585px;' >
          {{ home_where|safe }}
         </div>
    </div>
</div>


<div class="row">
    <div class="span6">
    <h1 style='height: 25px; text-align: right;'>С какого Я района?</h1>
        <div class="well" style="background-color: #ade0ba; border: 1px solid #a0c0b0; height: 250px">
            {{ home_from|safe }}
        </div>
    </div>
    
    <div class="span6">
    <h1 style='height: 25px; text-align: right;'>И в чем смысл жизни?</h1>
        <div class="well" style="background-color: #ade0ba; border: 1px solid #a0c0b0; height: 250px">
            {{ home_reason|safe }}
            <ul>
            {% for a in articles %}
                <li>
                    <a href="/article/{{ a.slug }}">{{ a.name }}</a> (<b>{{ a.date }}</b>)
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>
</div>

{% endblock %}
