<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru-ru" lang="ru-ru">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>annkpx</title>
        <link href="css/bootstrap.css" type="text/css" rel="stylesheet">
        <link href="css/style.css" type="text/css" rel="stylesheet">
        <script src="bootstrap/js/bootstrap.js"></script>

    </head>
        
    <body>
        
 <div class="container">
        <div class="row">
            &nbsp;
        </div>
        <div class="row">
        <div class="span6">
        <img src = 'annkpx.png' class = 'logo' />
        <!--
            <div class = 'nav nav-pills'>
                <li><a href='#'>python/django dev</a></li>
                <li class='active' ><a href='#'>обо всем</a></li>
                <li><a href='#'>лучшее</a></li>
            </div>-->
        
            <br /><br />
      
                
                
                     <div class="well">
                        <ul class="tag-cloud">
                            <li><a class="tag-size-4" href='#'>Python</a></li>
                            <li><a class="tag-size-3" href='#'>Django</a></li>
                            <li><a class="tag-size-2" href='#'>Linux</a></li>
                            <li><a class="tag-size-1" href='#'>Bash</a></li>
                            <li><a class="tag-size-3" href='#'>Debian</a></li>
                            <li><a class="tag-size-4" href='#'>Python</a></li>
                            <li><a class="tag-size-3" href='#'>Django</a></li>
                            <li><a class="tag-size-2" href='#'>Linux</a></li>
                            <li><a class="tag-size-1" href='#'>Bash</a></li>
                            <li><a class="tag-size-3" href='#'>Debian</a></li>
                            <li><a class="tag-size-2" href='#'>Python</a></li>
                            <li><a class="tag-size-3" href='#'>Django</a></li>
                            <li><a class="tag-size-2" href='#'>Linux</a></li>
                            <li><a class="tag-size-1" href='#'>Bash</a></li>
                            <li><a class="tag-size-2" href='#'>Debian</a></li>
                        </ul>
                    
                </div>
                    <div class="hero-unit">
                        <p>Здесь будет лента из твитера.</p>
                    </div>
            <div>
           
        </div>
           
       </div>
       <div class="span6">
        <div>
            <h2>Заголовок</h2>
           <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-small btn-info" href="#">Далее &raquo;</a></p>
        </div>
        
        <div>
            <h2>Заголовок 2</h2>
           <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-small btn-info" href="#">Далее &raquo;</a></p>
        </div>
       
                <div class="hero-unit">
                    <p>email: annkpx@gmail.com</p>
                    <p>vk: vk.ru/annkpx</p>
                    <p>twitter: vk.ru/annkpx</p>
                    <p>google +: vk.ru/annkpx</p>
                </div>
                <img src = 'ann_.png' class = 'photo' style='height: 400px; float: right; transparent: 0.3; margin-top: -200px; margin-bottom: -250px;' /> 
          
       </div>
      </div>

      <hr>

      <footer>
        <p>&copy; krx family 2012</p>
      </footer>

            </div>
            

    </body>
</html>  
